/* cursor.css */
.custom-cursor {
    width: 20px; /* Размер курсора — 30px */
    height: 20px; /* Высота курсора — 30px */
    border-radius: 50%; /* Курсор в виде круга */
    background-color: #FFC107; /* Желтый цвет */
    position: absolute; /* Абсолютное позиционирование для следования за мышью */
    pointer-events: none; /* Отключаем обработку событий, чтобы не мешать обычному курсору */
    transform: translate(-50%, -50%); /* Центрирование по координатам мыши */
    z-index: 9999; /* Поверх всех элементов */
}

